@use '@/assets/vars/color.scss' as *;

$colors-light: (
  keyboard-default-color: $color-gray-1,
  keyboard-active-color: $color-blue-3,
  arrow-default-color: $color-gray-1,
  arrow-active-color: $color-blue-3,
);
$colors-dark: (
  keyboard-default-color: $color-white-1,
  keyboard-active-color: $color-blue-2,
  arrow-default-color: $color-white-1,
  arrow-active-color: $color-blue-2,
);
$colors: (
  light: $colors-light,
  dark: $colors-dark,
);
