@use '@/assets/vars/color.scss' as *;

$card-colors-light: (
  card-bg-color: $color-white-1,
);
$card-colors-dark: (
  card-bg-color: $color-black-3,
);
$card-colors: (
  light: $card-colors-light,
  dark: $card-colors-dark,
);
