@use '@/assets/vars/color.scss' as *;

$colors-light: (
  dropdown-arrow-color: $color-white-1,
  conv-arrow-color: $color-gray-1,
);
$colors-dark: (
  dropdown-arrow-color: $color-white-1,
  conv-arrow-color: $color-white-1,
);
$colors: (
  light: $colors-light,
  dark: $colors-dark,
);
