@use '@/assets/vars/color.scss' as *;

$colors-light: (
  group-icon-default-color: $color-gray-1,
  group-icon-active-color: $color-blue-3,
  group-separator-default-color: $color-gray-1,
  group-separator-active-color: $color-blue-3,
  item-text-default-color: $color-gray-1,
  item-text-active-color: $color-blue-3,
);
$colors-dark: (
  group-icon-default-color: $color-gray-1,
  group-icon-active-color: $color-blue-2,
  group-separator-default-color: $color-gray-1,
  group-separator-active-color: $color-blue-2,
  item-text-default-color: $color-gray-1,
  item-text-active-color: $color-blue-2,
);
$colors: (
  light: $colors-light,
  dark: $colors-dark,
);
