@use 'sass:math';
@use '@/assets/vars/color.scss' as *;
@use './theme';

$scrollbar-width: 0.4rem;
$scrollbar-radius: math.div($scrollbar-width, 2);
$scrollbar-colors-light: (
  scrollbar-track-color: $color-gray-3,
  scrollbar-thumb-color: $color-gray-2,
);
$scrollbar-colors-dark: (
  scrollbar-track-color: $color-black-2,
  scrollbar-thumb-color: $color-black-1,
);
$scrollbar-colors: (
  light: $scrollbar-colors-light,
  dark: $scrollbar-colors-dark,
);

@mixin scrollbar {
  @include theme.themeify($scrollbar-colors) {
    .scrollbar,
    .scrollbar :deep(*) {
      &::-webkit-scrollbar {
        border-radius: $scrollbar-radius;
        background-color: theme.t('scrollbar-track-color');
      }

      &::-webkit-scrollbar:horizontal {
        height: $scrollbar-width;
      }

      &::-webkit-scrollbar:vertical {
        width: $scrollbar-width;
      }

      &::-webkit-scrollbar-button {
        display: none;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: $scrollbar-radius;
        background-color: theme.t('scrollbar-thumb-color');
      }
    }
  }
}
